<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Movie DB API Test</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
  </head>
  <body>
    <!-- .container is main centered wrapper -->
    <div class="container">
      <h1>The Movie DB API Test</h1>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
